{
  "ipaddr": "{{ hostvars[item].ansible_host }}",
  "credentials": {
    "type": "{{ credentials.ssh.access_type }}",
    "password": "{{ credentials.ssh.password }}",
{% if credentials.ssh.keypair_file is defined and credentials.ssh.keypair_file|length %}
    "ssh_key_data": "{{ lookup('file', credentials.ssh.keypair_file) }}",
{% else %}
    "ssh_key_data": "",
{% endif %}
{% if credentials.ssh.key_passphrase is defined and credentials.ssh.key_passphrase|length %}
    "ssh_key_passphrase": "{{ credentials.ssh.key_passphrase }}"
{% else %}
    "ssh_key_passphrase": ""
{% endif %}
  },
  "tags": [
    {
      "tag_id": "{{ host_tags | json_query('_embedded.tags[?label.name==`dc_tag`]._links.self.href') | replace('[u', '') | replace(']', '') | regex_replace("'", '') }}",
      "tag_value": "{{ hostvars[item].dc_tag }}"
    },
    {
      "tag_id": "{{ host_tags | json_query('_embedded.tags[?label.name==`rack_tag`]._links.self.href') | replace('[u', '') | replace(']', '') | regex_replace("'", '') }}",
      "tag_value": "{{ hostvars[item].rack_tag }}"
    },
    {
      "tag_id": "{{ host_tags | json_query('_embedded.tags[?label.name==`ru_tag`]._links.self.href') | replace('[u', '') | replace(']', '') | regex_replace("'", '') }}",
      "tag_value": "{{ hostvars[item].ru_tag }}"
{% if item in groups['k8s_ingress_nodes'] %}
    },
    {
      "tag_id": "{{ host_tags | json_query('_embedded.tags[?label.name==`istio-ingressgateway`]._links.self.href') | replace('[u', '') | replace(']', '') | regex_replace("'", '') }}",
      "tag_value": true
    }
{% else %}
    }
{% endif %}
  ]
}