---
# tasks file for controller
  - include_tasks: destroy_platform.yml
    when: destroy is defined
  - include_tasks: run_prechecks.yml
    when: run_checks is defined
  - include_tasks: install_platform.yml
    when: install is defined
  - include_tasks: configure_ha.yml
    when: configure_ha is defined
  - include_tasks: configure_airgap.yml
    when: configure_airgap is defined
  - include_tasks: add_k8shosts.yml
    when: add_k8shosts is defined    
