{# Configure K8s Host installation YAML file for epicctl #}
{% if ecp_k8s.hosts is undefined %}
{% set ecp_k8s.hosts = groups.k8s_hosts %}
{% endif %}
---
op: K8sHostConfig
platform: {{ platform.type }}
parameters:
  config:
{% for host in ecp_k8s.hosts if host not in groups.repair_pool or force_repair is defined and force_repair %}
{% if ecp_k8s.cluster.master_nodes is defined and hostvars[host].ansible_host in ecp_k8s.cluster.master_nodes %}
    ephemeral_disks: {{ecp_k8s.configuration.master_node_disks.ephemeral_disks|join(',') }}
{% if ecp_k8s.configuration.master_node_disks.no_tenant_storage is defined and not ecp_k8s.configuration.master_node_disks.no_tenant_storage %}
    persistent_disks: {{ ecp_k8s.configuration.master_node_disks.persistent_disks|join(',') }}
{% else %}
    persistent_disks:
{% endif %}
{% elif ecp_k8s.cluster.ingress_nodes is defined and hostvars[host].ansible_host in ecp_k8s.cluster.ingress_nodes %}
    ephemeral_disks: {{ecp_k8s.configuration.ingress_node_disks.ephemeral_disks|join(',') }}
{% if ecp_k8s.configuration.ingress_node_disks.no_tenant_storage is defined and not ecp_k8s.configuration.ingress_node_disks.no_tenant_storage %}
    persistent_disks: {{ ecp_k8s.configuration.ingress_node_disks.persistent_disks|join(',') }}
{% else %}
    persistent_disks:
{% endif %}
{% elif ecp_k8s.cluster.cp_nodes is defined and hostvars[host].ansible_host in ecp_k8s.cluster.cp_nodes %}
    ephemeral_disks: {{ecp_k8s.configuration.cp_node_disks.ephemeral_disks|join(',') }}
{% if ecp_k8s.configuration.cp_node_disks.no_tenant_storage is defined and not ecp_k8s.configuration.cp_node_disks.no_tenant_storage %}
    persistent_disks: {{ ecp_k8s.configuration.cp_node_disks.persistent_disks|join(',') }}
{% else %}
    persistent_disks:
{% endif %}
{% else %}
    ephemeral_disks: {{ecp_k8s.configuration.worker_node_disks.ephemeral_disks|join(',') }}
{% if ecp_k8s.configuration.worker_node_disks.no_tenant_storage is defined and not ecp_k8s.configuration.worker_node_disks.no_tenant_storage %}
    persistent_disks: {{ ecp_k8s.configuration.worker_node_disks.persistent_disks|join(',') }}
{% else %}
    persistent_disks:
{% endif %}
{% endif %}
    api_scheme: {{ platform.api_scheme }}
    install_type: {{ platform.install.install_type }}
{# instert tag text here #}
  host:
{% if host | ipv4 %}
    internal_ip: {{ host }}
{% else %}
    internal_ip: {{ hostvars[host].ansible_host }}
{% endif %}
  ssh:
    username: {{ ecp_credentials.ssh.username }}
    access_type: {{ ecp_credentials.ssh.access_type }}
{% if ecp_credentials.ssh.access_type == 'password_access' %}
    password: {{ ecp_credentials.ssh.password }}
{% else %}
    keypair_file: {{ ecp_credentials.ssh.keypair_file }}
    keypair_name: {{ ecp_credentials.ssh.keypair_name }}
{% if ecp_credentials.ssh.key_passphrase is defined %}
    priv_keypair_password: {{ ecp_credentials.ssh.key_passphrase }}
{% endif %}
{% endif %}
{% endfor %}
  verbose: true