{# Configure K8s Host installation YAML file for epicctl #}
{% for host in hosts_to_add if host not in groups.repair_pool or force_repair is defined and force_repair %}
{% set host_ip = hostvars[host].ansible_host %}
{% set have_tags = false %}
---
op: K8sHostConfig
platform: {{ platform.type }}
parameters:
  config:
{% if ecp_k8s.master_nodes.hosts is defined and ((host in ecp_k8s.master_nodes.hosts) or (host_ip in ecp_k8s.master_nodes.hosts)) %}
    ephemeral_disks: {{ecp_k8s.master_nodes.disks.ephemeral_disks|join(',') }}
{% if ecp_k8s.master_nodes.no_tenant_storage or ecp_k8s.master_nodes.disks.persistent_disks is not iterable %}
    persistent_disks:
{% else %}
    persistent_disks: {{ ecp_k8s.master_nodes.disks.persistent_disks|join(',') }}
{% endif %}
{% elif ecp_k8s.ingress_nodes.hosts is defined and ((host in ecp_k8s.ingress_nodes.hosts) or (host_ip in ecp_k8s.ingress_nodes.hosts)) %}
    ephemeral_disks: {{ecp_k8s.ingress_nodes.disks.ephemeral_disks|join(',') }}
{% if ecp_k8s.ingress_nodes.no_tenant_storage or ecp_k8s.ingress_nodes.disks.persistent_disks is not iterable %}
    persistent_disks:
{% else %}
    persistent_disks: {{ ecp_k8s.ingress_nodes.disks.persistent_disks|join(',') }}
{% endif %}
{% elif ecp_k8s.cp_nodes.hosts is defined and ((host in ecp_k8s.cp_nodes.hosts) or (host_ip in ecp_k8s.cp_nodes.hosts))  %}
    ephemeral_disks: {{ecp_k8s.cp_nodes.disks.ephemeral_disks|join(',') }}
{% if ecp_k8s.cp_nodes.no_tenant_storage or ecp_k8s.cp_nodes.disks.persistent_disks is not iterable %}
    persistent_disks:
{% else %}
    persistent_disks: {{ ecp_k8s.cp_nodes.disks.persistent_disks|join(',') }}
{% endif %}
{% elif ecp_k8s.worker_nodes.hosts is defined and ((host in ecp_k8s.worker_nodes.hosts) or (host_ip in ecp_k8s.worker_nodes.hosts))  %}
    ephemeral_disks: {{ecp_k8s.worker_nodes.disks.ephemeral_disks|join(',') }}
{% if ecp_k8s.worker_nodes.no_tenant_storage or ecp_k8s.worker_nodes.disks.persistent_disks is not iterable %}
    persistent_disks:
{% else %}
    persistent_disks: {{ ecp_k8s.worker_nodes.disks.persistent_disks|join(',') }}
{% endif %}
{% elif ecp_k8s.df_master_nodes.hosts is defined and ((host in ecp_k8s.df_master_nodes.hosts) or (host_ip in ecp_k8s.df_master_nodes.hosts))  %}
    ephemeral_disks: {{ecp_k8s.df_master_nodes.disks.ephemeral_disks|join(',') }}
{% if ecp_k8s.df_master_nodes.no_tenant_storage or ecp_k8s.df_master_nodes.disks.persistent_disks is not iterable %}
    persistent_disks:
{% else %}
    persistent_disks: {{ ecp_k8s.df_master_nodes.disks.persistent_disks|join(',') }}
{% endif %}
{% elif ecp_k8s.df_worker_nodes.hosts is defined and ((host in ecp_k8s.df_worker_nodes.hosts) or (host_ip in ecp_k8s.df_worker_nodes.hosts)) %}
    ephemeral_disks: {{ecp_k8s.df_worker_nodes.disks.ephemeral_disks|join(',') }}
{% if ecp_k8s.df_worker_nodes.no_tenant_storage or ecp_k8s.df_worker_nodes.disks.persistent_disks is not iterable %}
    persistent_disks:
{% else %}
    persistent_disks: {{ ecp_k8s.df_worker_nodes.disks.persistent_disks|join(',') }}
{% endif %}
{% else %}
{% endif %}
    api_scheme: {{ platform.api_scheme }}
    install_type: {{ platform.install.install_type }}
{% if (ecp_tags_list is defined and ecp_tags_list | length > 0) and (hostvars[host].Datacenter is defined or hostvars[host].Rack is defined or hostvars[host].RU is defined or hostvars[host].Zone is defined) %}
    tags:
{% set have_tags = true %}
{% endif %}
{% if hostvars[host].Datacenter is defined %}
      - name: Datacenter
        value: {{ hostvars[host].Datacenter }}
      - name: topology.kubernetes.io/region
        value: {{ hostvars[host].Datacenter }}
{% endif %}
{% if hostvars[host].Zone is defined %}
      - name: Zone
        value: {{ hostvars[host].Zone }}
      - name: topology.kubernetes.io/zone
        value: {{ hostvars[host].Zone }}
{% endif %}
{% if hostvars[host].Rack is defined %}
      - name: Rack
        value: {{ hostvars[host].Rack }}
{% endif %}
{% if hostvars[host].RU is defined %}
      - name: RU
        value: {{ hostvars[host].RU }}
{% endif %}
{% if ecp_k8s.ingress_nodes.hosts is defined and (host in ecp_k8s.ingress_nodes.hosts or host_ip in ecp_k8s.ingress_nodes.hosts) %}
{% if have_tags == false %}
    tags:
{% set have_tags = true %}
{% endif %}
      - name: istio-ingressgateway
        value: true
{% endif %}
{% if ecp_k8s.cp_nodes.hosts is defined and (host in ecp_k8s.cp_nodes.hosts or host_ip in ecp_k8s.cp_nodes.hosts) %}
{% if have_tags == false %}
    tags:
{% set have_tags = true %}
{% endif %}
      - name: istio-controlplane
        value: true
      - name: openebs-controlplane
        value: true
{% endif %}
  host:
    internal_ip: {{ host_ip }}
  ssh:
    username: {{ ecp_credentials.ssh.username }}
    access_type: {{ ecp_credentials.ssh.access_type }}
{% if ecp_credentials.ssh.access_type == 'password_access' %}
    password: {{ ecp_credentials.ssh.password }}
{% else %}
    keypair_file: {{ ecp_credentials.ssh.keypair_file }}
    keypair_name: {{ ecp_credentials.ssh.keypair_name }}
{% if ecp_credentials.ssh.key_passphrase is defined %}
    priv_keypair_password: {{ ecp_credentials.ssh.key_passphrase }}
{% endif %}
{% endif %}
{% endfor %}
  verbose: true