{# Configure EPIC Host installation YAML file for epicctl #}
{% for host in ecp_epic.hosts if host not in groups.repair_pool or force_repair is defined and force_repair %}
---
op: WorkerConfig
parameters:
  config:
    node_disks: {{ecp_epic.configuration.worker_node_disks.node_disks|join(',') }}
{% if ecp_epic.configuration.worker_node_disks.no_tenant_storage is defined and not ecp_epic.configuration.worker_node_disks.no_tenant_storage %}
    hdfs_disks: {{ ecp_epic.configuration.worker_node_disks.hdfs_disks|join(',') }}
    no_tenant_storage: false
{% else %}
    hdfs_disks:
    no_tenant_storage: true
{% endif %}
    api_scheme: {{ platform.api_scheme }}
    install_type: {{ platform.install.install_type }}
  host:
{% if host | ipv4 %}
    internal_ip: {{ host }} 
{% else %}
    internal_ip: {{ hostvars[host].ansible_host }}
{% endif %}
  ssh: 
    username: {{ ecp_credentials.ssh.username }}
    access_type: {{ ecp_credentials.ssh.access_type }}
{% if ecp_credentials.ssh.access_type == 'password_access' %}
    password: {{ ecp_credentials.ssh.password }}
{% else %}
    keypair_file: {{ ecp_credentials.ssh.keypair_file }}
    keypair_name: {{ ecp_credentials.ssh.keypair_name }}
{% if ecp_credentials.ssh.key_passphrase is defined %}
    priv_keypair_password: {{ ecp_credentials.ssh.key_passphrase }}
{% endif %}
{% endif %}
  verbose: true
platform: {{ platform.type }} 
{% endfor %}
