{
  "change_spec": {
     "add_k8shosts_config": [
{% if k8s_cluster.master_nodes is defined %}
{% for item in k8shosts_list if item | json_query('status') == 'ready' and item | json_query('ansible_host') in k8s_cluster.master_nodes %}
        {
          "node": "{{ item | json_query('host_id') }}",
          "role": "master",
        },
{% endfor %}
{% endif %}
{% if k8s_cluster.ingress_nodes is defined %}
{% for item in k8shosts_list if item | json_query('status') == 'ready' and item | json_query('ansible_host') in k8s_cluster.ingress_nodes %}
        {
          "node": "{{ item | json_query('host_id') }}",
          "role": "worker",
        },
{% endfor %}
{% endif %}
{% if k8s_cluster.cp_nodes is defined %}
{% for item in k8shosts_list if item | json_query('status') == 'ready' and item | json_query('ansible_host') in k8s_cluster.cp_nodes %}
        {
          "node": "{{ item | json_query('host_id') }}",
          "role": "worker",
        },
{% endfor %}
{% endif %}
{% if k8s_cluster.worker_nodes is defined %}
{% for item in k8shosts_list if item | json_query('status') == 'ready' and item | json_query('ansible_host') in k8s_cluster.worker_nodes %}
        {
          "node": "{{ item | json_query('host_id') }}",
          "role": "worker",
{% if loop.last %}
        }
{% else %}    
        },
{% endif %}
{% endfor %}
{% endif %}
     ]
  }, 
  "operation": "reconfigure", 
  "reason": "adding k8s hosts to cluster "
}
