{
  "gateway_ssl_cert_info":
  {
    "key_file": {
      "file_name": "{{ platform.install.gateways.ssl_key_file }}",
      "content": "{{ lookup('file', 'files/cert-manager/minica/wellsfargo.net/key.pem' ) + "\n" }}"
    },
    "cert_file": {
      "file_name": "{{ platform.install.gateways.ssl_cert_file }}",
      "content": "{{ lookup('file', 'files/cert-manager/minica/wellsfargo.net/cert.pem' ) + "\n" }}"
    }
  },
  "proxy_port_map_ranges": [
    {
      "end_port": {{ platform.install.gateway.port_mapping_end }},
      "start_port": {{ platform.install.gateway.port_mapping_start }}
    }
  ]
}
