{
  "airgap_parameters": {
    "container_repo_url": "{{ airgap.container_repo_url }}",
{% if airgap.container_repo_username is defined %}
    "container_repo_username": "{{ airgap.container_repo_username }}",
{% endif %}
{% if airgap.container_repo_password is defined %}
    "container_repo_password": "{{ airgap.container_repo_password }}",
{% endif %}
{% if airgap.container_repo_secure_flag is defined %}
    "is_secure_container_repo": "{{ airgap.container_repo_secure_flag }}",
{% endif %}
{% if airgap.container_repo_cert is defined and platform.version %}
    "container_repo_client_certificate": "{{ airgap.container_repo_cert }}",
{% endif %}
{% if airgap.yum_repo_gpg_key is undefined and airgap.yum_rpm_gpg_key is undefined %}
    "baseurl": "{{ airgap.yum_repo_url }}"
  }  
{% else %}
    "baseurl": "{{ airgap.yum_repo_url }}",
{% endif %}  
{% if airgap.yum_repo_gpg_key is defined and airgap.yum_rpm_gpg_key is defined %}
    "repo_gpg_key": "{{ airgap.yum_repo_gpg_key }}",
    "rpm_gpg_key": "{{ airgap.yum_repo_gpg_key }}"
  }
{% elif airgap.yum_repo_gpg_key is defined and airgap.yum_rpm_gpg_key is undefined %}
    "repo_gpg_key": "{{ airgap.yum_repo_gpg_key }}"
  }
{% elif airgap.yum_repo_gpg_key is undefined and airgap.yum_rpm_gpg_key is defined %}
    "rpm_gpg_key": "{{ airgap.yum_rpm_gpg_key }}"
  }
{% endif %}
}