{
{% if ecp_notification.snmp is defined %}
  "snmp": {
    "server": "{{ ecp_notification.snmp.server }}",
    "community": "{{ ecp_notification.snmp.community }}",
{% if ecp_notification.snmp.engine is defined %}
    "engine": "{{ ecp_notification.snmp.engine }}",
{% endif %}
{% if ecp_notification.snmp.user is defined %}
    "user": "{{ ecp_notification.snmp.user }}",
{% endif %}
{% if ecp_notification.snmp.authpassword is defined %}
    "authpassword": "{{ ecp_notification.snmp.authpassword }}",
{% endif %}
{% if ecp_notification.snmp.authprotocol is defined %}
    "authprotocol": "{{ ecp_notification.snmp.authprotocol }}",
{% endif %}
{% if ecp_notification.snmp.privilege is defined %}
    "privilege": "{{ ecp_notification.snmp.privilege }}",
{% endif %}
{% if ecp_notification.snmp.privprotocol is defined %}
    "privprotocol": "{{ ecp_notification.snmp.privprotocol }}",
{% endif %}
{% if ecp_notification.snmp.password is defined %}
    "privpassword": "{{ ecp_notification.snmp.privpassword }}"
{% endif %}
  }
{% if ecp_notification.smtp is defined %}
  ,
{% endif %}
{% endif %}
{% if ecp_notification.smtp is defined %}
  "smtp": {
    "email": "{{ ecp_notification.smtp.email }}",
    "server": "{{ ecp_notification.smtp.server }}",
    "user": "{{ ecp_notification.smtp.user }}",
    "password": "{{ ecp_notification.smtp.password }}"
  }
{% endif %}
}