{
  "airgap_parameters": {
    "container_repo_url": "{{ common.airgap.container_repo_url }}",
    "container_repo_username": "{{ common.airgap.container_repo_username }}",
    "container_repo_password": "{{ common.airgap.container_repo_password }}",
    "is_secure_container_repo": "{{ common.airgap.container_repo_secure_flag }}",
    "container_repo_client_certificate": "{{ common.airgap.container_repo_cert }}",
    "baseurl": "{{ common.airgap.yum_repo_url }}",
    "repo_gpg_key": "{{ common.airgap.yum_repo_gpg_key }}",
    "rpm_gpg_key": "{{ common.airgap.yum_rpm_gpg_key }}"
  }
}
