{
	"enable_service_mesh": true,
	"tenant_type": "k8s",
	"features": {
		"ml_project": false
	},
	"is_namespace_owner": "true",
	"label": {
		"name": "{{ k8s.cluster_name }}",
		"description": "{{ k8s.cluster_description }}"
	},
	"k8s_cluster": "/api/v2/k8scluster/19",
	"specified_namespace_name": "{{ k8s.cluster_name }}",
	"map_services_to_gateway": false,
	"adopt_existing_namespace": false
}
