{
  "label": {
    "description": "{{ ecp_k8s.cluster.description }}",
    "name": "{{ ecp_k8s.cluster.name }}"
  },
  "k8s_version": "{{ ecp_k8s.cluster.k8s_version }}",
  "pod_network_range": "{{ ecp_k8s.cluster.pod_network_range }}",
  "service_network_range": "{{ ecp_k8s.cluster.service_network_range }}",
  "pod_dns_domain": "{{ ecp_k8s.cluster.pod_dns_domain }}",
  "addons": [],
  "k8shosts_config": [
{% for item in k8s_nodes_list %}
     {
        "node": "{{ item | json_query('host_id') }}",
{% if (item | json_query('hostname') in ecp_k8s.master_nodes.hosts) or (item | json_query('ansible_host') in ecp_k8s.master_nodes.hosts) %} 
        "role": "master"
{% elif (item | json_query('hostname') in ecp_k8s.ingress_nodes.hosts) or (item | json_query('ansbile_host') in ecp_k8s.ingress_nodes.hosts) %}
        "role": "worker"
{% elif (item | json_query('hostname') in ecp_k8s.cp_nodes.hosts) or (item | json_query('ansible_host') in ecp_k8s.cp_nodes.hosts) %}
        "role": "worker"
{% elif (item | json_query('hostname') in ecp_k8s.worker_nodes.hosts) or (item | json_query('ansible_host') in ecp_k8s.worker_nodes.hosts) %}
        "role": "worker"
{% else %}      
{% endif %}
{% if loop.last %}
     }
{% else %}    
     },
{% endif %}
{% endfor %}
  ]
}
