{
  "label": {
    "name": "{{ k8s.cluster_name }}",
    "description": "{{ k8s.cluster_description }}"
  },
  "k8s_version": "{{ k8s.k8s_version }}",
  "pod_network_range": "{{ k8s.pod_network_range }}",
  "service_network_range": "{{ k8s.service_network_range }}",
  "pod_dns_domain": "mycluster.local",
  "addons": [],
  "k8shosts_config": [
{% for item in k8shosts_list if item | json_query('status') == 'ready' and item | json_query('hostname') in groups['k8s_master_nodes']  %}  
    {
      "node": "{{ item | json_query('host_id') }}",
      "role": "master",
    },
{% endfor %}
{% for host in k8shosts_list if item | json_query('status') == 'ready' and item | json_query('hostname') in groups['k8s_ingress_nodes']  %}  
    {
      "node": "{{ item | json_query('host_id') }}",
      "role": "worker",
    },
{% endfor %}
{% for host in k8shosts_list if item | json_query('status') == 'ready' and item | json_query('hostname') in groups['k8s_worker_nodes']  %}  
    {
      "node": "{{ item | json_query('host_id') }}",
      "role": "worker",
    },
{% endfor %}
  ]
}
