{
       "password": "{{ platform.userpassword }}",
       "is_external": false,
       "label":{
                  "name": "{{ platform.username }}",
                  "description": "{{ platform.usernamedesc }}"
               }
}  
