{
  "change_spec": {
     "remove_k8shosts": [

{% for item in k8shosts_list if k8shosts_list is iterable %}
{% if loop.last %}
        "{{ item | json_query('host_id') }}"
{% else %}
        "{{ item | json_query('host_id') }}",
{% endif %}
{% endfor %}
     ]
  }, 
  "operation": "reconfigure", 
  "reason": "deleting k8s hosts from cluster "
}
