{% for k8sw in groups.k8s_workers %}
---
op: K8sHostConfig
parameters:
  config:
    ephemeral_disks: {{ common.ephemeral_disks|join(',') }}
{% if common.persistent_disks is defined %}
    persistent_disks: {{ common.persistent_disks|join(',') }}
{% else %}    
    persistent_disks: ""
{% end %}    
    install_type: {{ common.install_type }}
  host:
    internal_ip: {{ hostvars[k8sw].ansible_host }}
  ssh:
    username: {{ credentials.ssh.username }}
    password: {{ credentials.ssh.password }}
    access_type: {{ credentials.ssh.access_type }}
    #keypair_file: {{ credentials.ssh.keypair_file }}
    #keypair_name: {{ credentials.ssh.keypair_name }} 
platform: {{ common.platform }}
{% endfor %}
