{% if new_k8s_hosts is defined %}
{% for hostname in new_k8s_hosts %}
---
op: K8sHostConfig
parameters:
  config:
    ephemeral_disks: {{ common.ephemeral_disks|join(',') }}
    persistent_disks: "{{ common.persistent_disks|join(',') }}"
    install_type: {{ common.install_type }}
    tags:
      - name: dc_tag
        value: {{ hostvars[hostname].dc_tag }}
      - name: rack_tag
        value: {{ hostvars[hostname].rack_tag }}            
      - name: ru_tag
        value: {{ hostvars[hostname].ru_tag }}    
      - name: hcp_host_id
        value: {{ hostvars[hostname].hcp_host_id }}     
  host:
    internal_ip: {{ hostvars[hostname].ansible_host }}
  ssh:
    username: {{ credentials.ssh.username }}
    password: {{ credentials.ssh.password }}
    access_type: {{ credentials.ssh.access_type }}
    #keypair_file: {{ credentials.ssh.keypair_file }}
    #keypair_name: {{ credentials.ssh.keypair_name }} 
platform: {{ common.platform }}
{% endfor %}
{% else %}
{% for hostname in groups['k8s_workers'] %}
---
op: K8sHostConfig
parameters:
  config:
    ephemeral_disks: {{ common.ephemeral_disks|join(',') }}
    persistent_disks: "{{ common.persistent_disks|join(',') }}"
    install_type: {{ common.install_type }}
    tags:
      - name: dc_tag
        value: {{ hostvars[hostname].dc_tag }}
      - name: rack_tag
        value: {{ hostvars[hostname].rack_tag }}            
      - name: ru_tag
        value: {{ hostvars[hostname].ru_tag }}    
      - name: hcp_host_id
        value: {{ hostvars[hostname].hcp_host_id }}     
  host:
    internal_ip: {{ hostvars[hostname].ansible_host }}
  ssh:
    username: {{ credentials.ssh.username }}
    password: {{ credentials.ssh.password }}
    access_type: {{ credentials.ssh.access_type }}
    #keypair_file: {{ credentials.ssh.keypair_file }}
    #keypair_name: {{ credentials.ssh.keypair_name }} 
platform: {{ common.platform }}
{% endfor %}
{% endif %}
