---
op: Init
platform: "{{ common.platform }}"
parameters:
  config:
    api_scheme: http
  host:
    host_ip: "{{ controller.host_ip }}"
  ssh:
    password: "{{ credentials.ssh.password }}"
    username: "{{ credentials.ssh.username }}"
---
op: ControllerSetup
platform: "{{ common.platform }}"
parameters:
  config:
    {% if common.proxy is defined %}
    proxy_url: "{{ common.proxy.http }}"
    {% endif %}
    url_bin_path: "{{ bin_dir }}/{{ bin_file }}"
  host:
    host_ip: "{{ controller.host_ip }}"
  ssh:
    password: "{{ credentials.ssh.password }}"
    username: "{{ credentials.ssh.username }}"
---
op: ControllerConfig
platform: "{{ common.platform }}"
parameters:
  config:
    bd_domain: "{{ controller.bd_domain }}"
    bd_prefix: "{{ controller.bd_prefix }}"
    hdfs_disks: "{{ controller.hdfs_disks }}"
    no_tenant_isolation: "{{ controller.no_tenant_isolation }}"
    no_tenant_storage: "{{ controller.no_tenant_storage }}"
    node_disks: "{{ controller.node_disks }}"
    int_start_ip: "{{ controller.int_start_ip }}"
    int_end_ip: "{{ controller.int_end_ip }}"
    int_gw_ip: "{{ controller.int_gw_ip }}"
    int_nw_mask: "{{ controller.int_nw_mask }}"
  host:
    host_ip: "{{ controller.host_ip }}"
  ssh:
    password: "{{ credentials.ssh.password }}"
    username: "{{ credentials.ssh.username }}"
---
op: GatewayConfig
parameters:
  config:
    gateway_set_hostname: hpecp-lab-gw.mip.storage.hpecorp.net
    install_type: non-agent-based-install
  host:
    internal_ip: 16.143.22.141
  ssh:
    password: "{{ credentials.ssh.password }}"
    username: "{{ credentials.ssh.username }}"
    access_type: password_access
    #access_type: ssh_key_access
    #keypair_file: /Users/jagadish/Downloads/private_key.pem
    #keypair_name: private_key.pem
platform: onprem
---
op: GatewayConfig
parameters:
  config:
    gateway_set_hostname: hpecp-lab-gw.mip.storage.hpecorp.net
    install_type: non-agent-based-install
  host:
    internal_ip: 16.143.22.157
  ssh:
    password: "{{ credentials.ssh.password }}"
    username: "{{ credentials.ssh.username }}"
    access_type: password_access
    #access_type: ssh_key_access
    #keypair_file: /Users/jagadish/Downloads/private_key.pem
    #keypair_name: private_key.pem
platform: onprem

