---
op: Init
parameters:
  config:
    api_scheme: http
  host:
    host_ip: {{ hostvars[groups.controllers[0]].ansible_host }}
  ssh:
    username: {{ credentials.ssh.username }}
    password: {{ credentials.ssh.password }}
    #access_type: {{ credentials.ssh.access_type }}
    #keypair_file: {{ credentials.ssh.keypair_file }}
    #keypair_name: {{ credentials.ssh.keypair_name }}
platform: {{ common.platform }}
---
op: ControllerSetup
parameters:
  config:
    {% if common.proxy is defined %}
    proxy_url: {{ common.proxy.http }}
    {% endif %}
    #ssl_cert_file: {{ common.ssl_cert_file }}
    #ssl_cert_key_file: {{ common.ssl_cert_key_file }}
    #url_bin_path: {{ common.bin_url }}
    url_bin_path: {{ common.bin_dir }}/{{ common.bin_file }}
    install_type: {{ common.install_type }}
    yum_update: {{ common.yum_update_flag }}
  host:
    host_ip: {{ hostvars[groups.controllers[0]].ansibl_host }}
  ssh:
    username: {{ credentials.ssh.username }}
    password: {{ credentials.ssh.password }}
    #access_type: {{ credentials.ssh.access_type }}
    #keypair_file: {{ credentials.ssh.keypair_file }}
    #keypair_name: {{ credentials.ssh.keypair_name }}
platform: {{ common.platform }}
---
op: ControllerConfig
parameters:
  config:
    bd_domain: {{ common.bd_domain }}
    bd_prefix: {{ common.bd_prefix }}
    node_disks: {{ common.ephemeral_disks|join(',') }}
    hdfs_disks: {{ common.persistent_disks|join(',') }}
    no_tenant_isolation: {{ common.no_tenant_isolation }}
    no_tenant_storage: {{ common.no_tenant_storage }}
    int_start_ip: {{ common.int_start_ip }}
    int_end_ip: {{ common.int_end_ip }}
    int_gw_ip: {{ common.int_gw_ip }}
    int_nw_mask: {{ common.int_nw_mask }}
  host:
    host_ip: {{ hostvars[groups.controllers[0]].ansible_host }}
  ssh:
    username: {{ credentials.ssh.username }}
    password: {{ credentials.ssh.password }}
    #access_type: {{ credentials.ssh.access_type }}
    #keypair_file: {{ credentials.ssh.keypair_file }}
    #keypair_name: {{ credentials.ssh.keypair_name }}
platform: {{ common.platform }}
{% for gw in groups.gateways %}
---
op: GatewayConfig
parameters:
  config:
    gateway_set_hostname: {{ gateway.gateway_set_hostname }}
    install_type: {{ common.install_type }}
    yum_update: {{ common.yum_update_flag }}
  host:
    internal_ip: {{ hostvars[gw].ansible_host }}
  ssh:
    username: {{ credentials.ssh.username }}
    password: {{ credentials.ssh.password }}
    #access_type: {{ credentials.ssh.access_type }}
    #keypair_file: {{ credentials.ssh.keypair_file }}
    #keypair_name: {{ credentials.ssh.keypair_name }}
platform: {{ common.platform }}
{% endfor %}
{% for ew in groups.epic_workers %}
---
op: WorkerConfig
parameters:
  config:
    node_disks: {{ common.ephemeral_disks|join(',') }}
    hdfs_disks: {{ common.persistent_disks|join(',') }}
    install_type: {{ common.install_type }}
    yum_update: {{ common.yum_update_flag }}
  host:
    internal_ip: {{ hostvars[ew].ansible_host }}
  ssh:
    username: {{ credentials.ssh.username }}
    password: {{ credentials.ssh.password }}
    #access_type: {{ credentials.ssh.access_type }}
    #keypair_file: {{ credentials.ssh.keypair_file }}
    #keypair_name: {{ credentials.ssh.keypair_name }}
platform: {{ common.platform }}
{% endfor %}
