---
op: Init
platform: {{ common.platform }}
parameters:
  config:
    api_scheme: http
  host:
    host_ip: {{ controller_host_ip }}
  ssh:
    password: {{ credentials.ssh.password }}
    username: {{ credentials.ssh.username }}
---
op: ControllerSetup
platform: {{ common.platform }}
parameters:
  config:
    {% if common.proxy is defined %}
    proxy_url: {{ common.proxy.http }}
    {% endif %}
    url_bin_path: {{ bin_dir }}/{{ bin_file }}
  host:
    host_ip: {{ controller_host_ip }}
  ssh:
    password: {{ credentials.ssh.password }}
    username: {{ credentials.ssh.username }}
---
op: ControllerConfig
platform: {{ common.platform }}
parameters:
  config:
    bd_domain: {{ bd_domain }}
    bd_prefix: {{ bd_prefix }}
    hdfs_disks: {{ hdfs_disks }}
    no_tenant_isolation: {{ no_tenant_isolation }}
    no_tenant_storage: {{ no_tenant_storage }}
    node_disks: {{ node_disks }}
    int_start_ip: {{ int_start_ip }}
    int_end_ip: {{ int_end_ip }}
    int_gw_ip: {{ int_gw_ip }}
    int_nw_mask: {{ int_nw_mask }}
  host:
    host_ip: {{ controller_host_ip }}
  ssh:
    password: {{ credentials.ssh.password }}
    username: {{ credentials.ssh.username }}
---
op: GatewayConfig
parameters:
  config:
    gateway_set_hostname: hpecp-lab-gw.mip.storage.hpecorp.net
    install_type: non-agent-based-install
  host:
    internal_ip: 16.143.22.141
  ssh:
    password: {{ credentials.ssh.password }}
    username: {{ credentials.ssh.username }}
    access_type: password_access
    #access_type: ssh_key_access
    #keypair_file: /Users/jagadish/Downloads/private_key.pem
    #keypair_name: private_key.pem
platform: onprem
---
op: GatewayConfig
parameters:
  config:
    gateway_set_hostname: hpecp-lab-gw.mip.storage.hpecorp.net
    install_type: non-agent-based-install
  host:
    internal_ip: 16.143.22.157
  ssh:
    password: {{ credentials.ssh.password }}
    username: {{ credentials.ssh.username }}
    access_type: password_access
    #access_type: ssh_key_access
    #keypair_file: /Users/jagadish/Downloads/private_key.pem
    #keypair_name: private_key.pem
platform: onprem

---
op: GatewaySetup
platform: {{ common.platform }}
parameters:
  config:
    gateway_set_hostname: hpecp-lab-gw.mip.storage.hpecorp.net
  host:
    host_ip: 16.143.22.141
  ssh:
    access_type: password_access
    password: {{ credentials.ssh.password }}
    username: {{ credentials.ssh.username }}

---
op: GatewaySetup
platform: {{ common.platform }}
parameters:
  config:
    gateway_set_hostname: hpecp-lab-gw.mip.storage.hpecorp.net
  host:
    host_ip: 16.143.22.157
  ssh:
    access_type: password_access
    password: {{ credentials.ssh.password }}
    username: {{ credentials.ssh.username }}

---
op: WorkerSetup
parameters:
  host:
    host_ip: 16.143.22.146
  ssh:
    password: admin123
    username: root
platform: onprem
---
op: WorkerSetup
parameters:
  host:
    host_ip: 16.143.22.156
  ssh:
    password: admin123
    username: root
platform: onprem
---
op: WorkerSetup
parameters:
  host:
    host_ip: 16.0.8.232
  ssh:
    password: admin123
    username: root
platform: onprem
---
op: WorkerSetup
parameters:
  host:
    host_ip: 16.0.8.233
  ssh:
    password: admin123
    username: root
platform: onprem
---
op: K8sHostSetup
parameters:
  host:
    host_ip: 16.143.22.89
  ssh:
    password: admin123
    username: root
platform: onprem
---
op: K8sHostSetup
parameters:
  host:
    host_ip: 16.143.22.147
  ssh:
    password: admin123
    username: root
platform: onprem
---
op: K8sHostSetup
parameters:
  host:
    host_ip: 16.143.22.158
  ssh:
    password: admin123
    username: root
platform: onprem
---
op: K8sHostSetup
parameters:
  host:
    host_ip: 16.143.22.159
  ssh:
    password: admin123
    username: root
platform: onprem
---
op: K8sHostSetup
parameters:
  host:
    host_ip: 16.143.22.160
  ssh:
    password: admin123
    username: root
platform: onprem
---
op: K8sHostSetup
parameters:
  host:
    host_ip: 16.143.22.161
  ssh:
    password: admin123
    username: root
platform: onprem
---
op: K8sHostSetup
parameters:
  host:
    host_ip: 16.143.22.162
  ssh:
    password: admin123
    username: root
platform: onprem
---
op: K8sHostSetup
parameters:
  host:
    host_ip: 16.143.22.163
  ssh:
    password: admin123
    username: root
platform: onprem
---
op: K8sHostSetup
parameters:
  host:
    host_ip: 16.0.8.228
  ssh:
    password: admin123
    username: root
platform: onprem
---
op: K8sHostSetup
parameters:
  host:
    host_ip: 16.0.8.229
  ssh:
    password: admin123
    username: root
platform: onprem
---
op: K8sHostSetup
parameters:
  host:
    host_ip: 16.0.8.230
  ssh:
    password: admin123
    username: root
platform: onprem
---
op: WorkerConfig
parameters:
  config:
    hdfs_disks: /dev/sdc
    node_disks: /dev/sdb
  host:
    internal_ip: 16.143.22.146
platform: onprem
---
op: WorkerConfig
parameters:
  config:
    hdfs_disks: /dev/sdc
    node_disks: /dev/sdb
  host:
    internal_ip: 16.143.22.156
platform: onprem
---
op: WorkerConfig
parameters:
  config:
    hdfs_disks: /dev/sdc
    node_disks: /dev/sdb
  host:
    internal_ip: 16.0.8.232
platform: onprem
---
op: WorkerConfig
parameters:
  config:
    hdfs_disks: /dev/sdc
    node_disks: /dev/sdb
  host:
    internal_ip: 16.0.8.233
platform: onprem
---
op: K8sHostConfig
parameters:
  config:
    ephemeral_disks: /dev/sdb
    persistent_disks: /dev/sdc
  host:
    internal_ip: 16.143.22.89
platform: onprem
---
op: K8sHostConfig
parameters:
  config:
    ephemeral_disks: /dev/sdb
    persistent_disks: /dev/sdc
  host:
    internal_ip: 16.143.22.147
platform: onprem
---
op: K8sHostConfig
parameters:
  config:
    ephemeral_disks: /dev/sdb
    persistent_disks: /dev/sdc
  host:
    internal_ip: 16.143.22.158
platform: onprem
---
op: K8sHostConfig
parameters:
  config:
    ephemeral_disks: /dev/sdb
    persistent_disks: /dev/sdc
  host:
    internal_ip: 16.143.22.159
platform: onprem
---
op: K8sHostConfig
parameters:
  config:
    ephemeral_disks: /dev/sdb
    persistent_disks: /dev/sdc
  host:
    internal_ip: 16.143.22.160
platform: onprem
---
op: K8sHostConfig
parameters:
  config:
    ephemeral_disks: /dev/sdb
    persistent_disks: /dev/sdc
  host:
    internal_ip: 16.143.22.161
platform: onprem
---
op: K8sHostConfig
parameters:
  config:
    ephemeral_disks: /dev/sdb
    persistent_disks: /dev/sdc
  host:
    internal_ip: 16.143.22.162
platform: onprem
---
op: K8sHostConfig
parameters:
  config:
    ephemeral_disks: /dev/sdb
    persistent_disks: /dev/sdc
  host:
    internal_ip: 16.143.22.163
platform: onprem
---
op: K8sHostConfig
parameters:
  config:
    ephemeral_disks: /dev/sdb
    persistent_disks: /dev/sdc
  host:
    internal_ip: 16.0.8.228
platform: onprem
---
op: K8sHostConfig
parameters:
  config:
    ephemeral_disks: /dev/sdb
    persistent_disks: /dev/sdc
  host:
    internal_ip: 16.0.8.229
platform: onprem
---
op: K8sHostConfig
parameters:
  config:
    ephemeral_disks: /dev/sdb
    persistent_disks: /dev/sdc
  host:
    internal_ip: 16.0.8.230
platform: onprem