{% for host in k8s_hosts_to_restore if host not in groups.repair_pool or force_repair is defined and force_repair %}
{% set host_name = host | json_query('hostname') %}
{% set host_ip = host | json_query('ansible_host') %}
{% set host_tags = host | json_query('tags') %}
{% set ephemeral_disks = host | json_query('ephemeral_disks') %}
{% set persistent_disks = host | json_query('persistent_disks') %}
---
op: K8sHostConfig
platform: {{ platform.type }}
parameters:
  verbose: true
  config:
    ephemeral_disks: {{ ephemeral_disks | join(',') }}
{% if persistent_disks is defined and persistent_disks is iterable %}
    persistent_disks: {{ persistent_disks | join(',') }}
{% else %}
    persistent_disks:
{% endif %}
    api_scheme: {{ platform.api_scheme }}
    install_type: {{ platform.install.install_type }}
{% if host_tags is defined and host_tags is iterable %}
    tags:
{% for tag_entry in host_tags %}
{% for ecp_tag in ecp_tags_list %}
{% set tag_name = (ecp_tag | json_query('name')) if (ecp_tag | json_query('tag_id') == tag_entry.tag_id) %}
{% endfor %}
{% if tag_name is defined %}  
      - name: {{ tag_name }}
        value: {{ tag_entry.tag_value }}
{% else %}
      - tag_id: {{ tag_entry.tag_id }} 
        name:        
{% endif %}      
{% endfor %}
{% endif %}
  host:
    internal_ip: {{ host_ip }}
  ssh:
    username: {{ ecp_credentials.ssh.username }}
    access_type: {{ ecp_credentials.ssh.access_type }}
{% if ecp_credentials.ssh.access_type == 'password_access' %}
    password: {{ ecp_credentials.ssh.password }}
{% else %}
    keypair_file: {{ ecp_credentials.ssh.keypair_file }}
    keypair_name: {{ ecp_credentials.ssh.keypair_name }}
{% if ecp_credentials.ssh.key_passphrase is defined %}
    priv_keypair_password: {{ ecp_credentials.ssh.key_passphrase }}
{% endif %}
{% endif %}
{% endfor %}
    verbose: true