apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: wordpress
  namespace: wordpress
spec:
  hosts:
  - "{{ validation.wordpress_dns }}"
  gateways:
  - istio-system/wordpress-gateway
  http:
  - route:
    - destination:
        host: wordpress
        port:
          number: 80